
  <h1>Grocery Getters</h1>

  <%= form_for(@list) do |f| %>
    <%= f.text_field :name, :placeholder => "Create a new grocery list!" %>
  <% end %>
</header>

<section >
  <!-- <label for="toggle-all">Mark all as complete</label> -->
  <ul>
    <% @lists.each do |list| %>
    <li>
      <div class="view">
        <label><%= link_to list.name, list %></label>
      </div>
    </li>
    <% end %>
  </ul>
</section>
